 * {
    margin:0;
    padding:0;
    box-sizing: border-box;   
}

body {
    background:linear-gradient(rgb(238, 129, 148),rgb(35, 35, 240));
    background-attachment: fixed;
}
#form {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:380px;
    margin:10vh auto 0 auto;
    padding:20px 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

 
}
/* From https://css.glass */

#form .input-group {
    width: 100%;
    margin-bottom: 15px;

}
.btn {
    margin:20px 0;
    padding:6px 5px;
    width:100%;
    background-color:rgb(35, 35, 240);
    border:1px solid rgb(35, 35, 240);
    border-radius:5px;
    color:whitesmoke;
    font-size: 20px;
}
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input {
 
    padding:10px;
    border:1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    cursor:text
}
.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}
a{
    color:white;
    text-decoration: none;
}

@media only screen and (min-width:300px) and (max-width:400px) {
    #form {
        width: 300px; 
    }
}